#!/bin/bash

echo "Loading Manifest"

hammer subscription upload \
  --organization "{{ workshop_vars.myOrganization }}" \
  --file "{{ workshop_vars.artifacts_directory }}/{{ workshop_vars.manifest_filename }}"

