#!/bin/bash

hammer repository update  \
--organization "{{ myOrganization }}" \
--product "Red Hat Enterprise Linux Server" \
--name "Red Hat Enterprise Linux 7 Server RPMs x86_64 7Server" \
--download-policy immediate

hammer repository update \
--organization "{{ myOrganization }}" \
--product "Red Hat Enterprise Linux Server" \
--name "Red Hat Enterprise Linux 7 Server - Optional RPMs x86_64 7Server" \
--download-policy immediate

hammer repository update \
--organization "{{ myOrganization }}" \
--product "Red Hat Enterprise Linux Server" \
--name "Red Hat Enterprise Linux 7 Server Kickstart x86_64 7.6" \
--download-policy immediate

hammer repository update \
--organization "{{ myOrganization }}" \
--product "Red Hat Enterprise Linux Server" \
--name "Red Hat Satellite Tools 6.6 for RHEL 7 Server RPMs x86_64" \
--download-policy immediate
