#!/bin/bash

echo "## Enabling Repo: Extras"

hammer repository-set enable \
  --organization "{{ myOrganization }}" \
  --product "Red Hat Enterprise Linux Server" \
  --basearch "x86_64" \
  --name "Red Hat Enterprise Linux 7 Server - Extras (RPMs)"

echo "## Setting Download Policy: Extras"

hammer repository update \
  --organization "{{ myOrganization }}" \
  --product "Red Hat Enterprise Linux Server" \
  --name "Red Hat Enterprise Linux 7 Server - Extras RPMs x86_64" \
  --download-policy background  

echo "## Starting Sync: Red Hat Enterprise Linux Server"

hammer product synchronize \
  --organization "{{ myOrganization }}" \
  --name "Red Hat Enterprise Linux Server" \
  --async

echo "## Content View: Add Extras"

hammer content-view update \
  --organization "{{ myOrganization }}" \
  --name "Desktop-R7" \
  --repositories "Red Hat Enterprise Linux 7 Server RPMs x86_64 7Server,Red Hat Satellite Tools 6.4 for RHEL 7 Server RPMs x86_64,Red Hat Enterprise Linux 7 Server - Extras RPMs x86_64"

echo "## Content View: Add Filter"


echo "## Content View: Publish"

hammer content-view publish \
  --organization "{{ myOrganization }}" \
  --name "Desktop-R7" \
  --description "Initial content view for our operating system"

echo "## Content View: Promote"

hammer content-view version promote \
  --organization "{{ myOrganization }}" \
  --content-view "Desktop-R7" \
  --version 2 \
  --to-lifecycle-environment "Desktop-DEV" \

