#!/bin/bash

echo "Enabling Repos fir RHEL 8..."

hammer repository-set enable \
--organization "{{ workshop_vars.myOrganization }}" \
--id 7416 \
--releasever "8"

hammer repository-set enable \
--organization "{{ workshop_vars.myOrganization }}" \
--id 7441 \
--releasever "8"


