#!/bin/bash

echo "## Cleaning YUM cache and other meta data"

yum clean all

echo "## Disabling local yum repos"

for i in `ls /etc/yum.repos.d | grep -v redhat.repo` ; do
  sed -i 's/enabled = 1/enabled = 0/g' /etc/yum.repos.d/${i}
done

echo "## Registering with satellite"

subscription-manager register \
  --org="{{ workshop_vars.myOrganization }}" \
  --serverurl="satellite.{{ workshop_extras.network_fqdn }}" \
  --activationkey="{{ workshop_vars.myActivationKeyName_1 }}"

echo "## Installing Katello Agent"

yum install -y katello-agent

echo "## Uploading package data"

katello-package-upload

echo "## Enabling remote execution from Satellite"

curl https://satellite.{{ workshop_extras.network_fqdn }}:9090/ssh/pubkey >> /root/.ssh/authorized_keys
