#!/bin/bash

echo "Activation Key Content Auto Enablement"

hammer activation-key content-override \
--name "{{ workshop_vars.myActivationKeyName_1 }}" \
--content-label rhel-7-server-satellite-tools-{{ workshop_vars.satellite_version }}-rpms \
--value 1 \
--organization "{{ workshop_vars.myOrganization }}"

hammer activation-key content-override \
--name "{{ workshop_vars.myActivationKeyName_2 }}" \
--content-label rhel-7-server-satellite-tools-{{ workshop_vars.satellite_version }}-rpms \
--value 1 \
--organization "{{ workshop_vars.myOrganization }}"
