#!/bin/bash

IFS=$'\n'; for i in `hammer --output csv --no-headers repository list --organization "ExampleCom" --fields name`; do

    echo -n "${i}: "

    hammer repository update  \
        --organization "ExampleCom" \
        --product "Red Hat Enterprise Linux Server" \
        --name "${i}" \
        --download-policy immediate

done

