#!/bin/bash

echo "Creating Activation Keys {{ workshop_vars.myActivationKeyName_1 }} and {{ workshop_vars.myActivationKeyName_2 }}"

hammer activation-key create \
  --name "{{ workshop_vars.myActivationKeyName_1 }}" \
  --description "" \
  --lifecycle-environment "{{ workshop_vars.myLifecycleName_1 }}" \
  --content-view "{{ workshop_vars.myContentViewName }}"  \
  --organization "{{ workshop_vars.myOrganization }}"

hammer activation-key create \
  --name "{{ workshop_vars.myActivationKeyName_2 }}" \
  --description "" \
  --lifecycle-environment "{{ workshop_vars.myLifecycleName_3 }}" \
  --content-view "{{ workshop_vars.myContentViewName }}"  \
  --organization "{{ workshop_vars.myOrganization }}"
