#!/bin/bash

echo "Creating Content View"

hammer content-view create \
  --name "Desktop-R7" \
  --description "Desktop RHEL 7 OS" \
  --product "Red Hat Enterprise Linux Server" \
  --repositories "Red Hat Enterprise Linux 7 Server RPMs x86_64 7Server,Red Hat Satellite Tools 6.4 for RHEL 7 Server RPMs x86_64" \
  --organization "ExampleCom Test Lab"

echo "Publishing Content View"

hammer content-view publish \
  --name "Desktop-R7" \
  --description "Initial content view for our operating system" \
  --organization "ExampleCom Test Lab"

echo "Promoting Content View to DEV"

hammer content-view version promote \

--content-view "Desktop-R7" \
  --version 1 \
  --to-lifecycle-environment "Desktop-DEV" \
  --organization "ExampleCom Test Lab"

echo "Promoting Content View to QA"

hammer content-view version promote \
  --content-view "Desktop-R7" \
  --version 1 \
  --to-lifecycle-environment "Desktop-QA" \
  --organization "ExampleCom Test Lab"

echo "Promoting Content View to PROD"

hammer content-view version promote \
  --content-view "Desktop-R7" \
  --version 1 \
  --to-lifecycle-environment "Desktop-PROD" \
  --organization "ExampleCom Test Lab"
