#!/bin/bash

echo "## Enabling Repo: Extras"

hammer repository-set enable \
  --organization "{{ myOrganization }}" \
  --product "Red Hat Enterprise Linux Server" \
  --basearch "x86_64" \
  --name "Red Hat Enterprise Linux 7 Server - Extras (RPMs)"

echo "## Setting Download Policy: Extras"

hammer repository update \
  --organization "{{ myOrganization }}" \
  --product "Red Hat Enterprise Linux Server" \
  --name "Red Hat Enterprise Linux 7 Server - Extras RPMs x86_64" \
  --download-policy immediate 

echo "## Starting Sync: Extras"

hammer repository synchronize \
  --organization {{ myOrganization }} \
  --product "Red Hat Enterprise Linux Server" \
  --name  "Red Hat Enterprise Linux 7 Server - Extras RPMs x86_64"

echo "## Content View: Add Extras"

hammer content-view update \
  --organization "{{ myOrganization }}" \
  --name "{{ myContentViewName" \
  --repositories "Red Hat Enterprise Linux 7 Server RPMs x86_64 7Server,Red Hat Satellite Tools 6.4 for RHEL 7 Server RPMs x86_64,Red Hat Enterprise Linux 7 Server - Extras RPMs x86_64"

echo "## Content View: Add Filter"

## example: exclude docker

echo "## Content View: Publish"

hammer content-view publish \
  --organization "{{ myOrganization }}" \
  --name "{{ myContentViewName }}" \
  --description "Added RHEL 7 Extras Content"

echo "## Content View: Promote"

hammer content-view version promote \
  --organization "{{ myOrganization }}" \
  --content-view "{{ myContentViewName" \
  --version 2 \
  --to-lifecycle-environment "{{ myLifecycleName_1 }} "

