#!/bin/bash

echo "Enabling Repo..."

hammer repository-set enable \
--organization "{{ myOrganization }}" \
--product "Red Hat Enterprise Linux Server" \
--basearch "x86_64" \
--releasever "7.6" \
--name "Red Hat Enterprise Linux 7 Server (Kickstart)"

echo "Setting Download Policy..."

hammer repository update \
--organization "{{ myOrganization }}" \
--product "Red Hat Enterprise Linux Server" \
--name "Red Hat Enterprise Linux 7 Server Kickstart x86_64 7.6" \
--download-policy immediate

echo "Starting Sync..."

hammer repository synchronize \
  --organization "{{ myOrganization }}" \
  --product "Red Hat Enterprise Linux Server" \
  --name "Red Hat Enterprise Linux 7 Server Kickstart x86_64 7.6"

