#!/bin/bash

hammer lifecycle-environment create \
  --organization "{{ myOrganization }}" \
  --name "{{ myLifecycleName_1 }}" \
  --description "" \
  --prior "Library"

hammer lifecycle-environment create \
  --organization "{{ myOrganization }}" \
  --name "{{ myLifecycleName_2 }}" \
  --description "" \
  --prior "{{ myLifecycleName_1 }}"

hammer lifecycle-environment create \
  --organization "{{ myOrganization }}" \
  --name "{{ myLifecycleName_3 }}" \
  --description "" \
  --prior "{{ myLifecycleName_2 }}"
