#!/bin/bash

echo "Creating Content View"

hammer content-view create \
  --organization "{{ myOrganization }}" \
  --name "{{ myContentViewName }}" \
  --description "RHEL 7 OS Content" \
  --repository-ids 2,1,4
