#!/bin/bash

echo "## Cleaning YUM cache and other meta data"

yum clean all

echo "## Disabling local yum repos"

sed -i 's/enabled=1/enabled=0/g' /etc/yum.repos.d/rhel7.repo

echo "## Registering with satellite"

subscription-manager register \
  --org="{{ myOrganization }}" \
  --serverurl="satellite.example.com" \
  --activationkey="desktop-dev"

echo "## Installing Katello Agent"

yum install katello-agent

echo "## Uploading package data"

katello-package-upload
