#!/bin/bash

hammer lifecycle-environment create --name "Desktop-DEV" \
--description "Environment for Dekstop Active Development" \
--prior "Library" --organization "ExampleCom"

hammer lifecycle-environment create --name "Desktop-QA" \
--description "Environment for Desktop Quality Assurance" \
--prior "Desktop-DEV" --organization "ExampleCom"

hammer lifecycle-environment create --name "Desktop-PROD" \
--description "Environment for Desktop Production Releases" \
--prior "Desktop-QA" --organization "ExampleCom"
