#!/bin/bash

echo "Enabling Repos for RHEL 8 (BaseOS/AppStream/Satellite Tools)..."

hammer repository-set enable \
  --organization "{{ workshop_vars.myOrganization }}" \
  --id 7416 \
  --releasever "8"

hammer repository-set enable \
  --organization "{{ workshop_vars.myOrganization }}" \
  --id 7441 \
  --releasever "8"
  
hammer repository-set enable \
  --organization "{{ workshop_vars.myOrganization }}" \
  --id 11462 \
  --releasever "8"

echo ""
echo "User the "cheat-repos-sync.sh" to initialize a sync of everything"
echo ""

##
## Turns our that working with hammer is a PITA and I need to move all of this to ansible
##
