#!/bin/bash

ORGANIZATION="{{ workshop_vars.myOrganization }}"

echo "Activation Key Content Auto Enablement"

echo "Gathering activation-key names"
for KEY_NAME in `hammer --output csv --no-headers activation-key list --organization "${ORGANIZATION}" --fields name`; do

  echo "Gathering activation-key content details [${KEY_NAME}]"
  for CONTENT_LABEL in $( hammer --output csv --no-headers  activation-key product-content --name "${KEY_NAME}" --organization "${ORGANIZATION}" --fields label ) ; do

    echo -n "Setting Content Enabled Override [${KEY_NAME},${CONTENT_LABEL}] : "

    hammer activation-key content-override \
    --name "${KEY_NAME}" \
    --content-label "${CONTENT_LABEL}" \
    --value 1 \
    --organization "${ORGANIZATION}"

  done

done
