#!/bin/bash

echo "Publishing Content View"

hammer content-view publish \
  --organization "{{ myOrganization }}" \
  --name "{{ myContentViewName }}" \
  --description "Initial content view RHEL 7 OS"
  
