#!/bin/bash

## Change Log:
##
##    2021-02-19  Changed to using ID and not UUID. In versions of Satellite prior to 6.8 this worked [used the UUID]
##                SUB_ID=`hammer --output csv --no-headers subscription list --organization "ExampleCom" --fields id`
##


echo "Attach Subscriptions to Activation Keys {{ workshop_vars.myActivationKeyName_1 }} and {{ workshop_vars.myActivationKeyName_2 }}"

SUB_ID=$( hammer --output csv --no-headers subscription list --organization "ExampleCom" --fields id )

echo "Found Sub ID: ${SUB_ID}"

hammer activation-key add-subscription \
  --name "{{ workshop_vars.myActivationKeyName_1 }}" \
  --subscription-id ${SUB_ID} \
  --organization "{{ workshop_vars.myOrganization }}"

hammer activation-key add-subscription \
  --name "{{ workshop_vars.myActivationKeyName_2 }}" \
  --subscription-id ${SUB_ID} \
  --organization "{{ workshop_vars.myOrganization }}"
