#!/bin/bash

hammer repository-set enable \
  --organization "{{ myOrganization }}" \
  --product "Red Hat Enterprise Linux Server" \
  --basearch "x86_64" \
  --name "Red Hat Enterprise Linux 7 Server - Extras (RPMs)"
