#!/bin/bash

echo "Publishing Content View"

hammer content-view publish \
  --organization "{{ workshop_vars.myOrganization }}" \
  --name "{{ workshop_vars.myContentViewName }}" \
  --description "Initial content view RHEL 7 OS"
  
