#!/bin/bash

echo "Publishing Content View"

hammer content-view publish \
  --organization {{ myOrganization }} \
  --name "Desktop-R7" \
  --description "Initial content view for our operating system"
  
