#!/bin/bash

echo "Attach Subscriptions to Activation Keys {{ myActivationKeyName_1 }} and {{ myActivationKeyName_2 }}"

UUID=`hammer --output base subscription list --organization "{{ myOrganization }}"  | grep UUID | awk '{ print $2 }'`

echo "Found Sub UUID: ${UUID}"

hammer activation-key add-subscription \
  --name "{{ myActivationKeyName_1 }}" \
  --subscription-id ${UUID} \
  --organization "{{ myOrganization }}"

hammer activation-key add-subscription \
  --name "{{ myActivationKeyName_2 }}" \
  --subscription-id ${UUID} \
  --organization "{{ myOrganization }}"
