
##
## ** NOTE ** Use ansible-vault to encrypt this
##

workshop_student_uid:      "{{ lookup('env','WORKSHOP_STUDENT_UID') }}"
workshop_student_password: "{{ lookup('env','WORKSHOP_STUDENT_PW') }}"

workshop_admin_uid:        "{{ lookup('env','WORKSHOP_ADMIN_UID') }}"
workshop_admin_password:   "{{ lookup('env','WORKSHOP_ADMIN_PW') }}"

##
##     If left empty, automation
##     will be interrupted and you
##     will be prompted for input
##

rhsm_credentials:
  username: "{{ t_rhsm_uid }}"
  password: "{{ t_rhsm_pw }}"

##
##     Admin username and password
##     for the RH Satellite
##

satellite_credentials:
  username: "{{ t_satellite_uid }}"
  password: "{{ t_satellite_pw }}"

##
##
##

host_credentials:

{% if t_workshop_admin_uid|length %}
{% if t_virthost_type == "libvirt" and t_virthost_fqdn|length %}
  {{ t_virthost_fqdn }}:
    username: "{{ t_workshop_admin_uid }}"
    password: "{{ t_workshop_admin_pw }}"
{% endif %}
{% if t_name_node1|length %}
  {{ t_name_node1 }}.{{ t_network_basedomain}}:
    username: "{{ t_workshop_admin_uid }}"
    password: "{{ t_workshop_admin_pw }}"
{% endif %}
{% if t_name_node2|length %}
  {{ t_name_node2 }}.{{ t_network_basedomain}}:
    username: "{{ t_workshop_admin_uid }}"
    password: "{{ t_workshop_admin_pw }}"
{% endif %}
{% if t_name_node3|length %}
  {{ t_name_node3 }}.{{ t_network_basedomain}}:
    username: "{{ t_workshop_admin_uid }}"
    password: "{{ t_workshop_admin_pw }}"
{% endif %}
{% if t_name_node4|length %}
  {{ t_name_node4 }}.{{ t_network_basedomain}}:
    username: "{{ t_workshop_admin_uid }}"
    password: "{{ t_workshop_admin_pw }}"
{% endif %}
{% if t_name_node5|length %}
  {{ t_name_node5 }}.{{ t_network_basedomain}}:
    username: "{{ t_workshop_admin_uid }}"
    password: "{{ t_workshop_admin_pw }}"
{% endif %}
{% if t_name_node6|length %}
  {{ t_name_node6 }}.{{ t_network_basedomain}}:
    username: "{{ t_workshop_admin_uid }}"
    password: "{{ t_workshop_admin_pw }}"
{% endif %}
{% endif %}


##
##
##

{% if t_virthost_type == "libvirt" %}
libvirt_credentials:
  default:
    username: "{{ t_virthost_uid }}"
    password: "{{ t_virthost_pw }}"
{% elif t_virthost_type == "ovirt" %}
ovirt_credentials:
  default:
    username: "{{ t_ovirt_manager_uid }}"
    password: "{{ t_ovirt_manager_pw }}"
{% endif %}

##
##    Credentials to access the IPMI/iDRAC/iLO bmc
##

bmc_credentials:

  ##
  ##    If you have a standard uid/pw,
  ##    you can just set the default
  ##

  default:
    username: "{{ t_bmc_uid_default }}"
    password: "{{ t_bmc_pw_default }}"

  ##
  ##    if you need a unique uid/pw for a host,
  ##    use the bmc_fqdn (NOT THE HOST FQDN!)
  ##    and declare the uid/pw

  #node1.bmc.example.com:
  #  username: ""
  #  password: ""

{% if t_bmc_pw_node1|length %}
  {{ t_bmc_node1 }}:
    username: "root"
    password: "{{ t_bmc_pw_node1 }}"
{% endif %}

{% if t_bmc_pw_node2|length %}
  {{ t_bmc_node2 }}:
    username: "root"
    password: "{{ t_bmc_pw_node2 }}"
{% endif %}


{% if t_bmc_pw_node3|length %}
  {{ t_bmc_node3 }}:
    username: "root"
    password: "{{ t_bmc_pw_node3 }}"
{% endif %}


{% if t_bmc_pw_node4|length %}
  {{ t_bmc_node4 }}:
    username: "root"
    password: "{{ t_bmc_pw_node4 }}"
{% endif %}


{% if t_bmc_pw_node5|length %}
  {{ t_bmc_node5 }}:
    username: "root"
    password: "{{ t_bmc_pw_node5 }}"
{% endif -%}

{% if t_bmc_pw_node6|length %}
  {{ t_bmc_node6 }}:
    username: "root"
    password: "{{ t_bmc_pw_node6 }}"
{% endif %}

