##
##    !! WARNING !!  Ansible only interprets 'True' and 'False'
##                   as booleans when reading ini files.  Other
##                   values such as 'true' or 'false' would be 
##                   interpreted as strings and would break various
##                   logic tests.  
##
##                   When reading YML files, booleans can take on
##                   many forms and be interpreted correctly.
##
##                   For consistency, only use unquoted booleans: True & False

all: 

  vars:

    ## ----------------------------------------
    ##    Defaults based on virthost type

{%if lookup('env',"VIRTHOST_TYPE") == "libvirt" %}
    h_hwPROF:        "kvm_vda_q35"
    h_plPROF:        "custom_platform"
{%elif lookup('env',"VIRTHOST_TYPE") == "ovirt" %}
    h_hwPROF:        "ovirt_sda"
    h_plPROF:        "custom_platform"
{%endif %}

    ## ----------------------------------------
    ##    Workshop Variables

    workshop_vars:

      projectname:          "{{ lookup('env','PROJECT_NAME')    }}"

      ldap_client:          {{ lookup('env','LDAP')            }}
      ldap_uri:             "{{ lookup('env','LDAP_URI')        }}"
      ldap_base_dn:         "{{ lookup('env','LDAP_BASE_DN')         }}"
      ldap_bind_dn:         "{{ lookup('env','LDAP_BIND_DN')    }}"
      ldap_bind_pw:         "{{ lookup('env','LDAP_BIND_PW')    }}"
      ldap_sudo_grp:        "{{ lookup('env','LDAP_SUDO_GRP')   }}"

      network_id:           "{{ lookup('env','NETWORK_ID')          }}"
      network_gateway:      "{{ lookup('env','NETWORK_GATEWAY')     }}"
      network_prefix:       "{{ lookup('env','NETWORK_PREFIX')      }}"
      network_broadcast:    "{{ lookup('env','NETWORK_BROADCAST')   }}"
      network_netmask:      "{{ lookup('env','NETWORK_NETMASK')     }}"
      network_basedomain:   "{{ lookup('env','NETWORK_BASEDOMAIN')  }}"
      network_subdomain:    "{{ lookup('env','NETWORK_SUBDOMAIN')   }}"
      network_nameserver:   "{{ lookup('env','NETWORK_DNS_SERVER')  }}"
      network_timeserver:   "{{ lookup('env','NETWORK_TIME_SERVER') }}"

      satellite_version:     "{{ lookup('env','SATELLITE_VERSION') }}"
      manifest_filename:     "{{ lookup('env','SATELLITE_MANIFEST') }}"

      artifacts_directory:   "/root/sat6-artifacts"

      http_proxy:           ""
      https_proxy:          ""

      ## Satellite Parms
      ##   satellite_disk = {{ t_satellite_disk }}
      ##   virthost_type  = {{ t_virthost_type }}
      
{% if t_satellite_disk|length and t_satellite_disk != "auto" %}
      myDisk:                "{{ t_satellite_disk }}"
{% elif t_satellite_disk == "auto" and t_virthost_type == "libvirt" %}
      myDisk:                "/dev/vdb"
{% elif t_satellite_disk == "auto" and t_virthost_type == "ovirt" %}
      myDisk:                "/dev/sdb"
{% endif %}

      myVG:                  "sat_vg"

      myLocation:            "USA"
      myOrganization:        "ExampleCom"

      myLifecycleName_1:     "MyLifecycle-DEV"
      myLifecycleName_2:     "MyLifecycle-QA"
      myLifecycleName_3:     "MyLifecycle-PROD"

      myContentViewName:     "MyContent RHEL 7"

      myActivationKeyName_1: "MyKey-DEV"
      myActivationKeyName_2: "MyKey-PROD"

      myJobTemplateCategory: "MyTemplates"
      myJobTemplateName_1:   "MyTemplate: Ping"
      myJobTemplateName_2:   "MyTemplate: Sample Config"

      myHostCollectionName:  "MyCollection"

      myDiscoveryRuleName:   "MyRule"
      myDiscoveryFact:       "MyFact"

      http_proxy:            ""
      https_proxy:           ""
     
      bastion:
 
        firewalld:          True
        cockpit:            False
        dns:                True
        dhcp:               False
        dhcp_pxe:           False
        dhcp_uefi_http:     False
        nfs:                False
        ntp:                False
        workshop_user:      True
        workshop_materials: True
        desktop_gui:        False
        desktop_chrome:     False
        desktop_vnc:        False



    ## ----------------------------------------
    ##    Xtoph Deploy Variables

    xtoph_vars:

      deployhost_ip:       "{{ t_ansible_ip }}" 
      projectname:         "{{ t_project_name }}"
      tmp_dir:             "/home/tmp/{{ t_project_name }}/{% raw %}{{ inventory_hostname_short }}{% endraw %}"




## ----------------------------------------
## HOSTGROUPS & VARS
## ----------------------------------------

myLibvirtHosts:

  hosts:
{% if t_virthost_type == "libvirt" and t_virthost_fqdn|length %}
    {{ t_virthost_fqdn }}:
      h_netIP:  "{{ t_virthost_ip }}"
{%   if t_virthost_fqdn == "localhost.localdomain" %}
      ansible_connection: local
{%   endif %}

{%   if t_virthost_hw|length  %}
      h_hwPROF:  "{{ t_virthost_hw }}"
      h_plPROF:  "custom_baremetal"
      h_plSETUP: "custom_platform"
      h_rsPROF:  "med"
      h_pwrOFF:  false
      h_ksPROF:  "rhel92-bootiso"
{%   else %}
      h_hwPROF:  "pc_sda"
      h_plSETUP: "custom_platform"
      h_rsPROF:  "med"
{%   endif %}

{%   if t_virthost_bmc|length  %}
      bmc_fqdn:        "{{ t_virthost_bmc }}"
{%   endif %}
{% endif %}



## -----------------

myDeployhost:
  hosts:
    deployer:
      h_netIP:          {% raw %}"{{ xtoph_vars.deployhost_ip }}"{% endraw %}
{% if t_virthost_fqdn == "localhost.localdomain" %}
      h_plPROF:         "custom_platform"
{% endif %}

  vars:
    ansible_connection: local



{% for hgroup in [ "myBastion", "myNodes", "mySatellite" ] %}

## -----------------

{{ hgroup }} :
  hosts:
{%   for index in range(1,9) %}
{%     if  lookup('env','HGROUP_NODE' ~ index) == hgroup %}

    {{ lookup('env','NAME_NODE' ~ index) }}.{{ lookup('env','NETWORK_SUBDOMAIN') }} :
      h_netIP:         "{{ lookup('env','ADDR_NODE' ~ index) }}"
{%       if lookup('env','KOPTS_NODE' ~ index)|length %}
      h_kernelOPTS:    "{{ lookup('env','KOPTS_NODE' ~ index) }}"
{%       endif %}
{%       if lookup('env','KS_NODE' ~ index)|length %}
      h_ksPROF:        "{{ lookup('env','KS_NODE' ~ index) }}"
{%       endif %}
{%       if lookup('env','MAC_NODE' ~ index)|length %}
      h_netMAC:        "{{ lookup('env','MAC_NODE' ~ index) }}"
{%       endif %}
{%       if lookup('env','NETMODE_NODE' ~ index)|length %}
      h_netMODE:       "{{ lookup('env','NICMODE_NODE' ~ index) }}"
{%       endif %}
{%       if lookup('env','NETDEV_NODE' ~ index)|length %}
      h_netDEV:        "{{ lookup('env','NETDEV_NODE' ~ index) }}"
{%       endif %}
{%       if lookup('env','BLKDEV_NODE' ~ index)|length %}
      h_blkDEV:        "{{ lookup('env','BLKDEV_NODE' ~ index) }}"
{%       endif %}
{%       if lookup('env','HW_NODE' ~ index)|length %}
      h_hwPROF:        "{{ lookup('env','HW_NODE' ~ index) }}"
{%       endif %}
{%     endif %}
{%   endfor %}

  vars:
    #    REMINDER: 
    #        h_plPROF    default defined at top of inventory
    #        h_hwPROF    default defined at top of inventory
    #        h_netMAC    if not explicitly set, probably a calculated host var file

{%   if hgroup == "myBastion" %}
    h_ksPROF:        "rhel86-bootiso"
    h_rsPROF:        "custom_bastion"
{%   elif hgroup == "myNodes" %}
    h_ksPROF:        "rhel79-bootiso"
    h_rsPROF:        "custom_node"
{%   elif hgroup == "mySatellite" %}
{%     if lookup('env','SATELLITE_VERSION') is version('6.16',operator='>=') %}
    h_ksPROF:        "rhel96-bootiso"
    h_rsPROF:        "custom_satellite"
{%     elif lookup('env','SATELLITE_VERSION') is version('6.12',operator='>=') %}
    h_ksPROF:        "rhel86-bootiso"
    h_rsPROF:        "custom_satellite"
{%     else %}
    # WARNING: Encountered unexpected hostgroup
{%     endif %}
{%   endif %}
{% endfor %}

