---
- hosts: myNodes, mySatellite
  tasks:
    - name: "SAT6-PREINSTALL-HOSTPREP: yum remove old rhn tools"
      yum: name=rhn-setup,rhn-client-tools state=absent
      
    - name: "SAT6-PREINSTALL-HOSTPREP: modify /etc/motd"
      template:
        src: motd-sat6-workshop.j2
        dest: /etc/motd
        owner: root
        group: root
        mode: 0644

    - name: "SAT6-PREINSTALL-HOSTPREP:YUM install misc required packages"
      yum: name=wget,git,net-tools,bind-utils,yum-utils,iptables-services,bridge-utils,bash-completion,kexec-tools,sos,psacct,firewalld state=installed

    - name: "SAT6-PREINSTALL-HOSTPREP:SERVICE STOP firewalld"
      service: name=firewalld state=stopped enabled=yes

    - name: "SAT6-PREINSTALL-HOSTPREP:CMD flushing any existing iptable rules"
      shell: 
        cmd: |
          iptables -F

    - name: "SAT6-PREINSTALL-HOSTPREP:SERVICE START firewalld"
      service: name=firewalld state=started enabled=yes



- hosts: myNodes
  tasks:

    - name: "SAT6-PREINSTALL-HOSTPREP:CMD disable local yum repos"
      shell: 
        cmd: |          
          for i in `ls /etc/yum.repos.d | grep -v redhat.repo` ; do 
            sed -i 's/enabled=1/enabled=0/g' /etc/yum.repos.d/${i}
          done 

    - name: "SAT6-PREINSTALL-HOSTPREP:YUM remove insights-client"
      yum: name=insights-client state=absent



- hosts: mySatellite
  tasks:

    - name: "SAT6-PREINSTALL-HOSTPREP: stop puppet services if running"
      shell: if `pgrep -u puppet`; then systemctl puppet stop ; fi

    - name: "SAT6-PREINSTALL-HOSTPREP: stop satellite services if running"
      shell: if `which katello-service`; then katello-service stop ; fi

    - name: "SAT6-PREINSTALL-HOSTPREP:CMD unmount previous satellite filesystems"
      shell:
        cmd: |
          if grep -q {{ item.mount }} /proc/mounts ; then umount {{ item.mount }} ; fi
      with_items:
        - {vg: "{{ myVG }}", lv: 'pulp',    mount: '/var/lib/pulp'}
        - {vg: "{{ myVG }}", lv: 'pgsql',   mount: '/var/lib/pgsql'}
        - {vg: "{{ myVG }}", lv: 'mongodb', mount: '/var/lib/mongodb'}
        - {vg: "{{ myVG }}", lv: 'squid',   mount: '/var/spool/squid'}
        - {vg: "{{ myVG }}", lv: 'cache',   mount: '/var/cache'}

    - name: "SAT6-PREINSTALL-HOSTPREP:CMD cleanup previous satellite storage"
      shell:
        cmd: |
          echo "need to check mounts && umount"
          if vgs "{{ myVG }}" ; then vgremove --force "{{ myVG }}" ; fi
          if pvs "{{ myDisk }}" ; then pvremove --force "{{ myDisk }}" ; fi
          wipefs -a "{{ myDisk }}"

    - name: "SAT6-PREINSTALL-HOSTPREP:CMD create physical volume"
      shell:
        cmd: |
          pvcreate "{{ myDisk }}"

    - name: "SAT6-PREINSTALL-HOSTPREP:CMD create volume group"
      shell:
        cmd: |
          vgcreate "{{ myVG }}" "{{ myDisk }}"

    - name: "SAT6-PREINSTALL-HOSTPREP:CMD create logical volumes"
      shell:
        cmd: |
          lvcreate -y -L {{ item.size }}GB  -n {{ item.lv }} "{{ item.vg }}"
      with_items:
        - {vg: "{{ myVG }}", lv: 'mongodb', size: '50'}
        - {vg: "{{ myVG }}", lv: 'pulp',    size: '100'}
        - {vg: "{{ myVG }}", lv: 'pgsql',   size: '5'}
        - {vg: "{{ myVG }}", lv: 'squid',   size: '5'}
        - {vg: "{{ myVG }}", lv: 'cache',   size: '20'}

    - name: "SAT6-PREINSTALL-HOSTPREP:CMD remove old cache directory"
      shell:
        cmd: |
          rm -rf /var/cache
          mkdir -p /var/cache

    - name: "SAT6-PREINSTALL-HOSTPREP:CMD create filesystems, mount points and fstab entries"
      shell:
        cmd: |
          mkfs -t xfs /dev/{{ item.vg }}/{{ item.lv }}
          mkdir -p {{ item.mount }}
          grep -q {{ item.mount }} /etc/fstab || echo "/dev/mapper/{{item.vg}}-{{ item.lv }} {{ item.mount }} xfs defaults 0 0" >> /etc/fstab
      with_items:
        - {vg: "{{ myVG }}", lv: 'pulp',    mount: '/var/lib/pulp'}
        - {vg: "{{ myVG }}", lv: 'pgsql',   mount: '/var/lib/pgsql'}
        - {vg: "{{ myVG }}", lv: 'mongodb', mount: '/var/lib/mongodb'}
        - {vg: "{{ myVG }}", lv: 'squid',   mount: '/var/spool/squid'}
        - {vg: "{{ myVG }}", lv: 'cache',   mount: '/var/cache'}

    - name: "SAT6-PREINSTALL-HOSTPREP:CMD mount everything"
      shell:
        cmd: |
          mount -a
          
    - name: "SAT6-PREINSTALL-HOSTPREP:CMD configure firewalld"
      shell:
        cmd: |
          firewall-cmd --add-port="{{ item.port }}"
      with_items:
        - {port: "7/udp"}
        - {port: "7/tcp"}
        - {port: "53/udp"}
        - {port: "53/tcp"}
        - {port: "67/udp"}
        - {port: "69/udp"}
        - {port: "80/tcp"}
        - {port: "443/tcp"} 
        - {port: "5000/tcp"}
        - {port: "5646/tcp"}
        - {port: "5647/tcp"}
        - {port: "8000/tcp"}
        - {port: "8140/tcp"}
        - {port: "9090/tcp"}

    - name: "SAT6-PREINSTALL-HOSTPREP: CMD save firewalld state"
      shell:
        cmd: |
          firewall-cmd --runtime-to-permanent
              
