
---
- hosts: myNodes
  tasks:

    - name: "SAT6-POSTINSTALL: remove older katello certs"
      shell:
        cmd: |
          yum remove -y katello-ca-consumer*.noarch

    - name: "SAT6-POSTINSTALL: yum install satellite crt"
      vars:
        - p_fqdn: "{{ hostvars[item]['inventory_hostname_short'] }}.{{ g_pubFQDN }}"
      yum: name=http://{{ p_fqdn }}/pub/katello-ca-consumer-{{ p_fqdn }}-1.0-1.noarch.rpm state=installed
      loop: "{{ groups['mySatellite'] }}"

    - name: "SAT6-POSTINSTALL: clear yum cache"
      shell:                                                                                           
        cmd: |                                                                                         
          rm -rf /var/cache/yum/*

    - name: "SAT6-POSTINSTALL: install cheat-(scripts) in /usr/local/bin"
      template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: root
        group: root
        mode: 0744
      with_items:
        - {src: 'cheat-register-host.j2',           dest: '/usr/local/bin/cheat-register-host.sh'}

- hosts: mySatellite
  tasks:

    - name: "SAT6-POSTINSTALL: install cheat-(scripts) in /usr/local/bin"
      template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: root
        group: root
        mode: 0744
      with_items:
        - {src: 'cheat-repos-sync.j2',           dest: '/usr/local/bin/cheat-repos-sync.sh'}
        - {src: 'cheat-repos-enable.j2',         dest: '/usr/local/bin/cheat-repos-enable.sh'}
        - {src: 'cheat-repos-policy.j2',         dest: '/usr/local/bin/cheat-repos-policy.sh'}
        - {src: 'cheat-repos-add-extras.j2',     dest: '/usr/local/bin/cheat-repos-add-extras.sh'}
        - {src: 'cheat-repos-add-optional.j2',   dest: '/usr/local/bin/cheat-repos-add-optional.sh'}
        - {src: 'cheat-repos-add-optional.j2',   dest: '/usr/local/bin/cheat-repos-add-kickstart.sh'}
        - {src: 'cheat-app-lifecycles.j2',       dest: '/usr/local/bin/cheat-app-lifecycles.sh'}
        - {src: 'cheat-cv-create.j2',            dest: '/usr/local/bin/cheat-cv-create.sh'}
        - {src: 'cheat-cv-publish.j2',           dest: '/usr/local/bin/cheat-cv-publish.sh'}
        - {src: 'cheat-cv-promote.j2',           dest: '/usr/local/bin/cheat-cv-promote.sh'}
        - {src: 'cheat-cv-add-extras.j2',        dest: '/usr/local/bin/cheat-cv-add-extras.sh'}
        - {src: 'cheat-ak-create.j2',            dest: '/usr/local/bin/cheat-ak-create.sh'}
        - {src: 'cheat-ak-attach-subs.j2',       dest: '/usr/local/bin/cheat-ak-attach-subs.sh'}
        - {src: 'cheat-ak-autoenable.j2',        dest: '/usr/local/bin/cheat-ak-autoenable.sh'}
        - {src: 'cheat-manifest.j2',             dest: '/usr/local/bin/cheat-manifest.sh'}

    - name: "SAT6-POSTINSTALL: yum clean all"
      shell:                                                                                           
        cmd: |                                                                                         
          yum clean all
